body{
    background-color: rgb(222, 250, 241);
}
#h1{
    color: rgb(113, 113, 224);
    font-weight: 100px;
    text-align: center;
}
#h2{
    color: rgb(112, 112, 15);
    font-weight: 100px;
    text-align: center;
}